<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br"
      th:replace="fragments/_layout :: shell(
        content = ~{::content},
        ptitle  = 'Login'
      )">
<body>
<div th:fragment="content">
    <form th:action="@{/login}" method="post" class="card">
        <h2>Entrar</h2>
        <label>Usuário
            <input type="text" name="username" required/>
        </label>
        <label>Senha
            <input type="password" name="password" required/>
        </label>
        <button type="submit">Entrar</button>
        <p>Não tem conta? <a th:href="@{/register}">Registre-se</a></p>
    </form>
</div>
</body>
</html>
