<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br"
      th:replace="fragments/_layout :: body(~{::content}, 'Registrar')">
<body>
<div th:fragment="content">
    <form th:action="@{/register}" method="post" class="card">
        <h2>Criar conta (Cliente)</h2>
        <label>Usuário
            <input type="text" th:field="*{usuario.username}" name="username" required/>
        </label>
        <label>Senha
            <input type="password" th:field="*{usuario.password}" name="password" required/>
        </label>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button type="submit">Registrar</button>
        <p>Já tem conta? <a th:href="@{/login}">Entrar</a></p>
    </form>
</div>
</body>
</html>
