<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br"
      th:replace="fragments/_layout :: body(~{::content}, ${moto.id} != null ? 'Editar Moto' : 'Nova Moto')">
<body>
<div th:fragment="content">
    <form th:action="${moto.id} != null ? @{|/moto/${moto.id}|} : @{/moto}"
          method="post" class="card" th:object="${moto}">
        <label>Placa
            <input type="text" th:field="*{placa}" placeholder="ABC1D23" required/>
        </label>
        <label>Modelo
            <input type="text" th:field="*{modelo}" placeholder="Ex.: Honda CG 160" required/>
        </label>
        <label>Status
            <select th:field="*{status}">
                <option th:each="s : ${status}" th:value="${s}" th:text="${s}"></option>
            </select>
            <small>Para ficar ALOCADA, o gerente deve associar a uma VAGA.</small>
        </label>

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button type="submit">Salvar</button>
    </form>
</div>
</body>
</html>
