<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<body th:with="pageTitle='Nova Moto', active='motos', content='this :: content'"
      th:replace="~{fragments/_layout :: body(~{::body})}">
<div th:fragment="content" class="grid">

    <h2>Cadastrar & Alocar Moto</h2>

    <div class="card">
        <form th:action="@{/motos}" th:object="${moto}" method="post" class="grid"
              onsubmit="this['placa'].value=this['placa'].value.toUpperCase()">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <label>Placa
                <input th:field="*{placa}" placeholder="AAA0A00" required minlength="6" maxlength="8"/>
            </label>

            <label>Modelo
                <input th:field="*{modelo}" maxlength="60" placeholder="Modelo"/>
            </label>

            <label>Cor
                <input th:field="*{cor}" maxlength="30" placeholder="Cor"/>
            </label>

            <div class="row">
                <a class="btn secondary" th:href="@{/localizar}">Cancelar</a>
                <button type="submit" class="btn">Salvar</button>
            </div>
        </form>
    </div>

</div>
</body>
</html>
