<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="pt-br"
      th:replace="fragments/_layout :: body(~{::content}, 'Motos')">
<body>
<div th:fragment="content">
    <div class="toolbar">
        <a class="btn" th:href="@{/moto/nova}">Nova moto</a>
        <form method="get" th:action="@{/moto}" class="inline">
            <input type="text" name="q" placeholder="Pesquisar por placa/modelo..."/>
            <button type="submit">Buscar</button>
        </form>
    </div>

    <table class="table">
        <thead>
        <tr><th>Placa</th><th>Modelo</th><th>Status</th><th>Vaga</th><th>Ações</th></tr>
        </thead>
        <tbody>
        <tr th:each="m : ${motos}">
            <td th:text="${m.placa}">ABC1234</td>
            <td th:text="${m.modelo}">Model</td>
            <td th:text="${m.status}">DESALOCADA</td>
            <td th:text="${m.vaga != null ? m.vaga.codigo : '-'}">A01</td>
            <td class="actions">
                <a th:href="@{|/moto/${m.id}/editar|}">Editar</a>
                <form th:action="@{|/moto/${m.id}/delete|}" method="post" class="inline">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <button type="submit">Excluir</button>
                </form>

                <!-- ações de pátio só para gerente -->
                <span sec:authorize="hasRole('GERENTE')">
            <form th:action="@{|/moto/${m.id}/desalocar|}" method="post" class="inline"
                  th:if="${m.vaga != null}">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
              <button type="submit">Desalocar</button>
            </form>

                    <!-- alocar / transferir: use campo para id da vaga destino -->
            <form th:action="@{|/moto/${m.id}/alocar|}" method="post" class="inline" th:if="${m.vaga == null}">
              <input type="number" name="vagaId" placeholder="ID da vaga" min="1" required/>
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
              <button type="submit">Alocar</button>
            </form>
            <form th:action="@{|/moto/${m.id}/transferir|}" method="post" class="inline" th:if="${m.vaga != null}">
              <input type="number" name="destinoId" placeholder="ID vaga destino" min="1" required/>
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
              <button type="submit">Transferir</button>
            </form>
          </span>

                <a th:href="@{|/moto/${m.id}/historico|}">Histórico</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
