<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<body th:with="pageTitle=${vaga.id} != null ? 'Editar Vaga' : 'Nova Vaga',
               active='vagas', content='this :: content'"
      th:replace="~{fragments/_layout :: body(~{::body})}">
<div th:fragment="content" class="grid">
    <h2 th:text="${vaga.id} != null ? 'Editar Vaga' : 'Nova Vaga'">Nova Vaga</h2>

    <div class="card">
        <form th:action="${vaga.id} != null ? @{'/vagas/' + ${vaga.id}} : @{/vagas}"
              th:object="${vaga}" method="post" class="grid">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <label>Código
                <input th:field="*{codigo}" placeholder="Ex.: A01" required/>
            </label>

            <label>Setor
                <input th:field="*{setor}" placeholder="Ex.: Norte"/>
            </label>

            <label>Status
              <select th:field="*{status}">
                <option th:value="LIVRE">LIVRE</option>
                <option th:value="OCUPADA">OCUPADA</option>
              </select>
            </label>


            <div class="row">
                <a class="btn secondary" th:href="@{/vagas}">Cancelar</a>
                <button type="submit" class="btn">Salvar</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
