<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/_layout :: layout(
        content=~{::content},
        title=${vaga.id} != null ? 'Editar Vaga' : 'Nova Vaga',
        active='vagas'
      )}">
<th:block th:fragment="content" th:with="editar=${vaga.id} != null">
    <h2 th:text="${editar} ? 'Editar Vaga' : 'Nova Vaga'">Nova Vaga</h2>

    <form th:action="${editar} ? @{'/vagas/' + ${vaga.id}} : @{/vagas}" method="post" th:object="${vaga}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <label>Código
            <input th:field="*{codigo}" required/>
        </label>
        <label>Setor
            <input th:field="*{setor}" required/>
        </label>
        <button class="btn ok" type="submit" th:text="${editar} ? 'Atualizar' : 'Criar'">Criar</button>
    </form>
</th:block>
</html>
