<!DOCTYPE html>
<html th:replace="fragments/_layout :: shell(content = ~{::content}, ptitle = 'Início')"
      xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content" class="grid two">
    <div class="card">
        <h3>Cliente</h3>
        <ul>
            <li>Cadastrar moto</li>
            <li>Pesquisar / ver minhas motos</li>
            <li>Editar/Excluir minhas motos</li>
            <li>Ver histórico das minhas motos</li>
            <li>Ver onde minha moto está</li>
        </ul>
    </div>
    <div class="card">
        <h3>Gerente</h3>
        <ul>
            <li>Gerenciar vagas (criar/editar/excluir)</li>
            <li>Alocar / Desalocar / Transferir motos</li>
            <li>Ver todas as motos e desalocadas</li>
        </ul>
    </div>
</div>
</body>
</html>
